/backend/.env
/backend/.ignore/
/backend/config.json
/backend/coverage/
/backend/db/
/backend/dist/
/backend/node_modules/

/frontend/coverage/
/frontend/dist/
/frontend/node_modules/

yarn-error.log
yarn-debug.log*