:root {
    --modal-confirm-button-bg: #4CAF50;
    --modal-confirm-button-hover-bg: #45a049;
    --modal-confirm-button-text: white;
    --bg-primary: white;
    --bg-primary-hover: #f9f9f9;
    --bg-secondary: #f9f9f9;
}

body {
    margin: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
}

.header {
    height: 60px;
    box-sizing: border-box;
    background-color: var(--bg-secondary);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
}

.left {
    width: 15vw;
    box-sizing: border-box;
    overflow: auto;
    background-color: var(--bg-secondary);
}

.right {
    width: 85vw;
    box-sizing: border-box;
    overflow: auto;
    background-color: var(--bg-primary)
}

.footer {
    height: 120px;
    box-sizing: border-box;
    background-color: var(--bg-secondary);
}

.now-playing {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}

.cover {
    flex: 1;
    box-sizing: border-box;
}

.cover > :first-child {
    display: flex;
    align-items: center;
}

.cover img {
    width: 72px;
    height: auto;
    margin-right: 16px;
}

.controls {
    flex: 1;
    box-sizing: border-box;
}

.zones-and-volume {
    flex: 1;
    box-sizing: border-box;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    min-width: 400px;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-confirm {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: var(--modal-confirm-button-bg);
    color: var(--modal-confirm-button-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-confirm:hover {
    background-color: var(--modal-confirm-button-hover-bg);
}


.artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    background-color: var(--bg-primary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.artist-card__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.artists-container {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 16px;
}


.track-row {
    display: grid;
    grid-template-columns: 40px 80px 1fr 80px 1fr 1fr 80px;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    background-color: var(--bg-primary);
    transition: background-color 0.2s;
}

.track-row:hover {
    background-color: var(--bg-primary-hover);
}

.track-row__number {
    font-size: 16px;
}

.track-row__image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
}

.track-row__name {
    font-size: 16px;
    font-weight: bold;
}

.track-row__length {
    text-align: right;
    padding: 0 16px;
}

.track-row__artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 8px;
}

.track-row__album {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 8px;
}

.track-row__artist {
    font-size: 14px;
    color: #555;
}

.track-row__track-add-next {
}
