.page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    flex: 2;
    overflow-y: auto; /* Independent vertical scroll */
    border: 1px solid #ccc;
}

.right {
    flex: 8;
    overflow-y: auto; /* Independent vertical scroll */
    border: 1px solid #ccc;
}

.bottom {
    height: 100px; /* Fixed height */
    border: 1px solid #ccc;
}
