.album-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 16px;
    background-color: var(--bg-primary);
    transition: transform 0.2s;
}

.album-card__image {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.album-card__album-name {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.album-card__artist-name {
    font-size: 0.875rem;
    color: #555;
}

.album-card__stage-icon {
    width: 0.875rem;
    height: 0.875rem;
}
