.album-heading {
    display: flex;
    padding: 36px;
}

.album-heading__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.album-heading__artists {
    font-size: 18px;
    font-weight: bold;
    padding-left: 36px;
}

.album-heading__name {
    font-size: 36px;
    font-weight: bold;
    padding-left: 36px;
}

.album-track-row {
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s;
}

.album-track-row:hover {
    background-color: #f9f9f9;
}

.album-track-row__name {
    font-size: 16px;
    font-weight: bold;
}

.album-track-row__track-add-next {
}
