.album-heading {
    display: flex;
    padding-bottom: 32px;
}

.album-heading__image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

.album-heading__artists {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 32px;
}

.album-heading__name {
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 32px;
}

.album-actions {
  margin-top: 2rem;
  padding-left: 32px;
}

.album-actions__play-next {
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
}

.album-actions__play-next:hover {
}

.album-actions__play-next:active {
}

.album-actions__play-next:focus-visible {
}

.album-track-row {
    display: grid;
    grid-template-columns: 40px 1fr 80px 80px;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #eee;
    background-color: var(--bg-primary);
    transition: background-color 0.2s;
    font-size: 1rem;
}

.album-track-row:hover {
    background-color: var(--bg-primary-hover);
}

.album-track-row__length {
    text-align: right;
    padding: 0 16px;
}

.album-track-row__name {
    font-weight: 500;
}

.album-track-row__track-add-next {
}
