.album-heading {
    display: flex;
    padding: 36px;
}

.album-heading__image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

.album-heading__artists {
    font-size: 18px;
    font-weight: bold;
    padding-left: 36px;
}

.album-heading__name {
    font-size: 36px;
    font-weight: bold;
    padding-left: 36px;
}

.album-track-row {
    display: grid;
    grid-template-columns: 40px 1fr 80px 80px;
    align-items: center;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    background-color: var(--bg-primary);
    transition: background-color 0.2s;
}

.album-track-row:hover {
    background-color: var(--bg-primary-hover);
}

.album-track-row__length {
    text-align: right;
    padding: 0 16px;
}

.album-track-row__name {
    font-size: 16px;
    font-weight: bold;
}

.album-track-row__track-add-next {
}
