.tag-row {
  display: contents;
}

.tag-row-item {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--bg-primary);
  transition: background-color 0.2s;
}

.tag-row:hover .tag-row-item {
  background-color: var(--bg-secondary);
}
