:root {
  --tag-row-line-height: 48px;
  --name-column-width: 0 0 144px;
  --description-column-width: 8 2 0px;
  --color-input-column-width: 0 0 64px;
  --button-column-width: 0 0 72px;
}

.tag-row {
  display: flex;
  width: 100%;
  background-color: var(--bg-primary);
  transition: background-color 0.2s;
  gap: 16px;
  align-items: center;
  min-height: var(--tag-row-line-height);
}

.tag-row:hover {
  background-color: var(--bg-secondary);
}

.tag-row-item--text-input-name {
  flex: var(--name-column-width);
  min-width: 0;
}

.tag-row-item--text-input-name input {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0 19px;
  font-size: var(--tag-badge-font-size);
  border: 0.5px solid var(--filter-input-border-unselected);
  border-radius: 4px;
  height: 32px;
}

.tag-row-item--text-input-description {
  flex: var(--description-column-width);
  min-width: 0;
}

.tag-row-item--text-input-description input {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0 9px;
  font-size: var(--tag-badge-font-size);
  border: 0.5px solid var(--filter-input-border-unselected);
  border-radius: 4px;
  height: 32px;
}

.tag-row-item--name {
  flex: var(--name-column-width);
  min-width: 0;
}

.tag-row-item--name-text {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.tag-row-item--description {
  flex: var(--description-column-width);
  min-width: 0;
}

.tag-row-item--description-text {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: var(--tag-badge-font-size);
}

.tag-row-item--color-input {
  flex: var(--color-input-column-width);
  min-width: 0;
}

.tag-row-item--color-input input {
  box-sizing: border-box;
}

.tag-row-item--button {
  flex: var(--button-column-width);
  min-width: 0;
}
