.tags-heading {
  display: flex;
  justify-content: space-between;
  max-width: var(--narrow-page-width);
  margin-left: auto;
  margin-right: auto;
}

.tags-heading__button {
  padding: 6px 12px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 16px;
}

.tags-heading__filter {
}

.tags-container {
  margin-top: 16px;
  max-width: var(--narrow-page-width);
  margin-left: auto;
  margin-right: auto;
}

.tags-list {
  display: grid;
  grid-template-columns:
    180px
    minmax(0, 8fr)
    minmax(0, 2fr)
    minmax(0, 2fr)
    90px
    90px;
  align-items: center;
}
