.track-row {
    display: grid;
    grid-template-columns: 80px 10px 1fr 80px 80px;
    align-items: center;
    gap: 16px;
    padding: 12px;
    background-color: var(--bg-primary);
    transition: background-color 0.2s;
}

.track-row:hover {
    background-color: var(--bg-primary-hover);
}

.track-row__image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
}

.track-row__track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    min-width: 0;
}

.track-row__name {
    font-weight: 600;
    color: var(--track-list-text-primary);
    font-size: 1rem;
    line-height: 1.2;
}

.track-row__artist {
    color: var(--track-list-track-secondary);
    font-size: 0.85rem;
    line-height: 1.2;
}

.track-row__album {
    color: var(--track-list-track-secondary);
    font-size: 0.85rem;
    line-height: 1.2;
}

.track-row__length {
    color: var(--track-list-track-secondary);
    font-size: 1rem;
    justify-self: end;
    text-align: right;
    line-height: 1.2;
}

.track-row__number {
    color: var(--track-list-track-secondary);
    font-size: 1rem;
    justify-self: end;
    text-align: right;
    line-height: 1.2;
}

.track-row__track-add-next {
    justify-self: end;
    text-align: right;
}
